<ion-header>
  <ion-toolbar>
    <ion-title>proovedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--cuando se edita algun campo solo actualiza la vista que ha cambiado-->
  <ion-list *ngFor="let proovedor of proovedores | async; trackBy: trackByFn">
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>{{proovedor.cedula}}</h2>
        <p>{{proovedor.nombre}}</p>
        <p>{{proovedor.correo}}</p>
        <p>{{proovedor.direccion}}</p>
        <p>{{proovedor.telefono}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
