<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Visaliza tu datos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-item>
    <ion-label position="fixed">Cedula</ion-label>
    <ion-input [value]="person.cedula"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Nombre</ion-label>
    <ion-input [value]="person.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Direccion</ion-label>
    <ion-input [value]="person.direccion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Fecha Nacimiento</ion-label>
    <ion-input [value]="person.fechaNacimiento"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Sexo</ion-label>
    <ion-input [value]="person.sexo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Experiencia</ion-label>
    <ion-input [value]="person.experiencia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Proyeccion</ion-label>
    <ion-input [value]="person.proyeccion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Titulo 3er Nivel</ion-label>
    <ion-input [value]="person.titulo3Nivel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Titulo 4To Nivel</ion-label>
    <ion-input [value]="person.titulo4Nivel"></ion-input>
  </ion-item>

  
  
  <ion-button expand="block" color="primary" (click)="Regresar()">Regresar al menu</ion-button>

</ion-content>

