<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--cuando se edita algun campo solo actualiza la vista que ha cambiado-->
  <ion-list *ngFor="let usuario of usuarios | async; trackBy: trackByFn">
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>{{usuario.codigo}}</h2>
        <p>{{usuario.correo}}</p>
        <p>{{usuario.direccion}}</p>
        <p>{{usuario.rol}}</p>
        <p>{{usuario.telefono}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
