<ion-header>
  <ion-toolbar>
    <ion-title>Crear Empleo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Titulo <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="empleo.titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripcion</ion-label>
      <ion-textarea required type="text" [(ngModel)]="empleo.descripcion"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Salario</ion-label>
      <ion-input [(ngModel)]="empleo.salario"></ion-input>
    </ion-item>

    <ion-item>

      <!--<testcomponent [icon]="icono" (finish)="saludar($event)"></testcomponent>-->
      <!--<testcomponent icon="camera"></testcomponent>-->

      <app-image-upload [icon]="'camera'" [type]="'camera'" (uploadFinished)="imagenCargada($event)"></app-image-upload>

      
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit"  (click)="guardarEmpleo()">Guardar</ion-button>
  </div>
</ion-content>
