<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Mi Consultorio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/about">About</ion-item>
        <ion-item routerLink="/home">Ingresar Datos</ion-item>
        <ion-item routerLink="/lista-empleos">Empleos</ion-item>
        <ion-item routerLink="/lista-usuarios">Usuarios</ion-item>
        <ion-item routerLink="/proovedor">Proveedores</ion-item>
        <ion-item (click)="logout()">Cerrar Sesion</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>

  
</ion-app>

