<ion-header>
  <ion-toolbar>
    <ion-title>Empleo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--En caso de que se utilice el suscribe-->
<!--<ion-content *ngIf="(empleo | async) as empleo">-->

<!--En caso de que se utilice el await-->
<ion-content *ngIf="(empleo) as empleo">
  <ion-card>
    <!--<img [src]="empleo.image.url"/>-->
    <ion-card-header>
      <ion-card-title>Empleo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Titulo: <ion-input required type="text" [(ngModel)]="empleo.titulo"></ion-input>
      Descripcion: <ion-input required type="text" [(ngModel)]="empleo.descripcion"></ion-input>
      Salario: <ion-input required type="text" [(ngModel)]="empleo.salario"></ion-input>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    
    <!--<app-image-upload [icon]="'camera'" [type]="'camera'" (uploadFinished)="imagenCargada($event)"></app-image-upload>-->
    <!--<ion-button expand="block" type="submit"  (click)="actualizaEmpleo()">Actualizar</ion-button>-->
    <testcomponent></testcomponent>
  </div>

</ion-content>
