<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input>Nombre:</ion-input>
  <ion-input>Usuario:</ion-input>
  <ion-input>Clave:</ion-input>
  <ion-button (click)="loginGoogle()">Registrarse</ion-button>
</ion-content>
