<ion-header>
  <ion-toolbar>
    <ion-title>hello</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Saludar {{id}}</h1>

</ion-content>
