<ion-header [translucent]="true">
  <ion-toolbar>
    <h5>Ingresa tus estudios</h5>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <br/>
  <br/>
  <ion-item>
    <ion-label position="floating">Titulo 3er Nivel</ion-label>
    <ion-input type="text" [(ngModel)]="person.titulo3Nivel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Titulo 4er Nivel</ion-label>
    <ion-input type="text" [(ngModel)]="person.titulo4Nivel"></ion-input>
  </ion-item>
  <br/>
  <br/>
  <br/>
  <ion-button expand="block" color="primary" (click)="Ingresar()">Ingresar</ion-button>

</ion-content>

