<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Empleos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--cuando se edita algun campo solo actualiza la vista que ha cambiado-->
  <ion-list *ngFor="let empleo of empleados | async; trackBy: trackByFn">
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/avatar.png">
      </ion-avatar>
      <ion-label (click)="showEmpleo(empleo.uid)">
        <h2>{{empleo.titulo}}</h2>
        <p>{{empleo.descripcion}}</p>
        <p class="empleo.salario>0?'salarioAlto':''">{{empleo.salario}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showCrearEmpleo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
