<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingresa tu datos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-item>
    <ion-label position="floating">Cedula</ion-label>
    <ion-input type="text" [(ngModel)]="person.cedula"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="person.nombre"></ion-input>
  </ion-item>

  
  <!--<ion-item>
    <ion-label position="fixed">Dirección</ion-label>
    <ion-input [value]="person.direccion"></ion-input>
  </ion-item>-->

  <ion-item>
    <ion-label position="floating">Dirección</ion-label>
    <ion-input type="text" [(ngModel)]="person.direccion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">FechaNacimiento</ion-label>
    <ion-input type="text" [(ngModel)]="person.fechaNacimiento"></ion-input>
  </ion-item>

  <h5>&nbsp;&nbsp;&nbsp;Sexo</h5>

  <ion-item>
    <ion-label position="fixed" >Masculino</ion-label>
    <ion-checkbox [(ngModel)]="sexoMasculino" (ionChange)="verificaSexo()"></ion-checkbox>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <ion-label position="fixed">Femenino</ion-label>
    <ion-checkbox [(ngModel)]="sexoFemenino" (ionChange)="verificaSexo()"></ion-checkbox>
  </ion-item>

  
  <ion-item>
    <ion-label position="fixed" >Experiencia</ion-label>
    <ion-checkbox [(ngModel)]="experiencia"></ion-checkbox>
  </ion-item>
  
  <ion-button expand="block" color="primary" (click)="Ingresar()">Ingresar</ion-button>

</ion-content>
