<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input>Usuario: </ion-input>
  <ion-input>Clave: </ion-input>
  <ion-button (click)="loginGoogle()">Login Google</ion-button>
  <ion-button (click)="register()">Registrarse</ion-button>
</ion-content>
